@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100vw;  
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:#f1f5f8;
  min-height: 100vh;
 padding: 0;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
